html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-align: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, #FFC700 , #FF00B8,#151371);
  font-family: 'Red Hat Display', sans-serif;
}
img{
  max-width: 50vw;
  max-height: 40vh;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@media (min-width: 1200px) {
  .formContainer {
    min-height: 30vh;
    min-width:60vw;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:blue;
    border: 3px;
    border-style: solid;
    border-radius:20px;
    box-shadow: 5px 5px 5px black;
    position:absolute;
    right: 0;
    left:0;
    margin:auto;
    top: 10vh;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .imageLogo{
    position:relative;
    top: 0vh;
  }
  .container{
    max-width: 50vw;
    min-width: 40vw;
  }
}
